[submodule "tools/unity-remote"]
	path = tools/unity-remote
	url = https://github.com/islee23520/unity-remote.git
[submodule "character-forge"]
	path = character-forge
	url = https://github.com/islee23520/character-forge.git
