[submodule "tools/unity-remote"]
	path = Tool/unity-remote
	url = https://github.com/islee23520/unity-remote.git
	branch = main
[submodule "character-forge"]
	path = Tool/character-forge
	url = https://github.com/islee23520/character-forge.git
