[submodule "tools/unity-remote"]
	path = TOOL/unity-remote
	url = https://github.com/islee23520/unity-remote.git
	branch = main
[submodule "TOOL/portrait-gen"]
	path = TOOL/portrait-gen
	url = https://github.com/islee23520/portrait-gen.git
[submodule "WEB"]
	path = WEB
	url = https://github.com/islee23520/seoul-dengoku-wiki.git
